## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\mklut\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

# Display the updated DataFrame
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column
unique_values_count = application_df.nunique()

# Display the result
unique_values_count

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Display the result
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value
cutoff_value = 500

# Create a list of application types to be replaced
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()

# Replace in the dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Display the result
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Filter CLASSIFICATION value counts where count is greater than 1
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]

# Display the result
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value
cutoff_value = 1000  # You can adjust this value based on your specific requirements

# Create a list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts <= cutoff_value].index.tolist()

# Replace in the dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [10]:
# Identify categorical columns
application_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()


# Convert categorical data to numeric with `pd.get_dummies`
# Use pd.get_dummies to convert categorical columns to numeric
application_df_encoded = pd.get_dummies(application_df, columns=application_cat)

# Display the result
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
#Check datatypes
application_df_encoded.dtypes

STATUS                          int64
ASK_AMT                         int64
IS_SUCCESSFUL                   int64
APPLICATION_TYPE_Other          uint8
APPLICATION_TYPE_T10            uint8
APPLICATION_TYPE_T19            uint8
APPLICATION_TYPE_T3             uint8
APPLICATION_TYPE_T4             uint8
APPLICATION_TYPE_T5             uint8
APPLICATION_TYPE_T6             uint8
APPLICATION_TYPE_T7             uint8
APPLICATION_TYPE_T8             uint8
AFFILIATION_CompanySponsored    uint8
AFFILIATION_Family/Parent       uint8
AFFILIATION_Independent         uint8
AFFILIATION_National            uint8
AFFILIATION_Other               uint8
AFFILIATION_Regional            uint8
CLASSIFICATION_C1000            uint8
CLASSIFICATION_C1200            uint8
CLASSIFICATION_C2000            uint8
CLASSIFICATION_C2100            uint8
CLASSIFICATION_C3000            uint8
CLASSIFICATION_Other            uint8
USE_CASE_CommunityServ          uint8
USE_CASE_Heathcare              uint8
USE_CASE_Other                  uint8
USE_CASE_Preservation           uint8
USE_CASE_ProductDev             uint8
ORGANIZATION_Association        uint8
ORGANIZATION_Co-operative       uint8
ORGANIZATION_Corporation        uint8
ORGANIZATION_Trust              uint8
INCOME_AMT_0                    uint8
INCOME_AMT_1-9999               uint8
INCOME_AMT_10000-24999          uint8
INCOME_AMT_100000-499999        uint8
INCOME_AMT_10M-50M              uint8
INCOME_AMT_1M-5M                uint8
INCOME_AMT_25000-99999          uint8
INCOME_AMT_50M+                 uint8
INCOME_AMT_5M-10M               uint8
SPECIAL_CONSIDERATIONS_N        uint8
SPECIAL_CONSIDERATIONS_Y        uint8
dtype: object

In [12]:
# Assuming your target variable is 'IS_SUCCESSFUL', replace it with your actual target variable if different
X = application_df_encoded.drop('IS_SUCCESSFUL', axis=1)  # Features (all columns except the target)
y = application_df_encoded['IS_SUCCESSFUL']  # Target variable

# Import the necessary library for train-test split
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Display the shapes of the resulting datasets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (25724, 43)
X_test shape: (8575, 43)
y_train shape: (25724,)
y_test shape: (8575,)

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler in the training set
X_scaler = scaler.fit(X_train)

# Scale the numeric columns in the training set
X_train_scaled = X_train.copy()  # Create a copy to avoid modifying the original DataFrame
X_train_scaled = X_scaler.transform(X_train)

# Scale the numeric columns in the testing set using the same scaler fitted to the training set
X_test_scaled = X_test.copy()  # Create a copy to avoid modifying the original DataFrame
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Import necessary libraries
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Number of input features
input_features = len(X_train_scaled[0])

# Define the model
nn = tf.keras.models.Sequential()

# First hidden layer (adjust the number of neurons as needed)
nn.add(Dense(units=100, input_dim=input_features, activation='relu'))

# Second hidden layer (adjust the number of neurons as needed)
nn.add(Dense(units=50, activation='relu'))

# Third hidden layer (adjust the number of neurons as needed)
nn.add(Dense(units=20, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))  # Assuming binary classification with sigmoid activation

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\mklut\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4400

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 20)                1020

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 10491 (40.98 KB)
Trainable params: 10491 (40.98 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\mklut\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
WARNING:tensorflow:From C:\Users\mklut\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\mklut\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 2s 1ms/step - loss: 0.5675 - accuracy: 0.7233
Epoch 2/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7287
Epoch 3/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7295
Epoch 4/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7320
Epoch 5/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7321
Epoch 6/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7318
Epoch 7/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7328
Epoch 8/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7318
Epoch 9/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7336
Epoch 10/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7343
Epoch 11/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7335
Epoch 12/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7338
Epoch 13/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7349
Epoch 14/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7356
Epoch 15/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7352
Epoch 16/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7351
Epoch 17/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7353
Epoch 18/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7342
Epoch 19/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7365
Epoch 20/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7369
Epoch 21/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7357
Epoch 22/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7360
Epoch 23/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7360
Epoch 24/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7367
Epoch 25/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7372
Epoch 26/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7371
Epoch 27/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7374
Epoch 28/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7371
Epoch 29/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7381
Epoch 30/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7382
Epoch 31/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7376
Epoch 32/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7381
Epoch 33/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7376
Epoch 34/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7385
Epoch 35/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7384
Epoch 36/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7376
Epoch 37/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7389
Epoch 38/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7372
Epoch 39/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7391
Epoch 40/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7388
Epoch 41/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7388
Epoch 42/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7389
Epoch 43/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7383
Epoch 44/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7396
Epoch 45/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7383
Epoch 46/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7393
Epoch 47/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7388
Epoch 48/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7388
Epoch 49/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7390
Epoch 50/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 51/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7388
Epoch 52/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 53/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7392
Epoch 54/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7391
Epoch 55/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7396
Epoch 56/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7399
Epoch 57/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7396
Epoch 58/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7398
Epoch 59/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7388
Epoch 60/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7404
Epoch 61/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7406
Epoch 62/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7396
Epoch 63/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7406
Epoch 64/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7390
Epoch 65/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7395
Epoch 66/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7403
Epoch 67/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7399
Epoch 68/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7406
Epoch 69/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7402
Epoch 70/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7400
Epoch 71/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7406
Epoch 72/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7407
Epoch 73/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7400
Epoch 74/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7405
Epoch 75/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7403
Epoch 76/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7404

Epoch 77/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7401
Epoch 78/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7407
Epoch 79/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7407
Epoch 80/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7410
Epoch 81/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7400
Epoch 82/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7408
Epoch 83/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7409
Epoch 84/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7394
Epoch 85/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7411
Epoch 86/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 87/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7399
Epoch 88/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7406
Epoch 89/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7406
Epoch 90/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7406
Epoch 91/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7404
Epoch 92/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7409
Epoch 93/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7398
Epoch 94/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7413
Epoch 95/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7406
Epoch 96/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7401
Epoch 97/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7409
Epoch 98/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7404
Epoch 99/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7409
Epoch 100/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7403
Epoch 101/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7406
Epoch 102/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7403
Epoch 103/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7400
Epoch 104/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7413
Epoch 105/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7409
Epoch 106/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7409
Epoch 107/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7409
Epoch 108/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7410
Epoch 109/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7409
Epoch 110/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7401
Epoch 111/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7407
Epoch 112/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7411
Epoch 113/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7414
Epoch 114/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7411
Epoch 115/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7410
Epoch 116/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7409
Epoch 117/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7419
Epoch 118/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7404
Epoch 119/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7409
Epoch 120/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7412
Epoch 121/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7410
Epoch 122/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7406
Epoch 123/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7407
Epoch 124/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7411
Epoch 125/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7404
Epoch 126/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7407
Epoch 127/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7396
Epoch 128/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7409
Epoch 129/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 130/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7407
Epoch 131/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7414
Epoch 132/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7407
Epoch 133/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7411
Epoch 134/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7404
Epoch 135/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 136/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7413
Epoch 137/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7406
Epoch 138/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7410
Epoch 139/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 140/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7420
Epoch 141/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7409
Epoch 142/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7414
Epoch 143/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7401
Epoch 144/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7409
Epoch 145/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7406
Epoch 146/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7409
Epoch 147/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7413
Epoch 148/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7413
Epoch 149/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7409
Epoch 150/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7411

In [18]:
# Train the model
#  YOUR CODE GOES HERE

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5859 - accuracy: 0.7293 - 368ms/epoch - 1ms/step
Loss: 0.585884690284729, Accuracy: 0.7293294668197632

In [20]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity_Optimization.h5")

C:\Users\mklut\anaconda3\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(